# Do not store hidden files and directories, including .idea project
.*

# Do not store anything starting with _
_*

# Do not store .class files
*.class
*.cmd

# Intellij IDEA
java-solutions/java-solutions.iml
out/

# lib
java-solutions/lib

java-solutions/tests
java-solutions/out
java-solutions/base

# HW7 tests ignore 
java-solutions/markup/MarkupTest.java
java-solutions/markup/MarkupListTest.java
java-solutions/markup/MarkupTester.java
java-solutions/markup/package-info.java
java-solutions/markup/Runner.java

# HW 11 tests ignore
java-solutions/expression/common/
java-solutions/expression/package-info.java
java-solutions/expression/ToMiniString.java
java-solutions/expression/Expression.java
java-solutions/expression/ExpressionTest.java
java-solutions/expression/ExpressionTester.java
java-solutions/expression/DoubleExpression.java
java-solutions/expression/TripleExpression.java

# HW 12 
java-solutions/expression/parser/Operations.java
java-solutions/expression/parser/ParserTest.java
java-solutions/expression/parser/ParserTester.java
java-solutions/expression/parser/ParserTestSet.java
java-solutions/expression/parser/TripleParser.java

java-solutions/expression/parser/tests/