# Do not store hidden files and directories, including .idea project
.*

# Do not store anything starting with _
_*

# Do not store .class files
*.class
*.cmd

java-solutions/tests/
java-solutions/out/
java-solutions/base/
java-solutions/for-prog-intro/

# HW7 tests ignore 
java-solutions/markup/MarkupTest.java
java-solutions/markup/MarkupTester.java
java-solutions/markup/package-info.java
java-solutions/Runner.java
